<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-wrapper">
    <div *ngIf="!isLoginMode">
      <label for="name">Имя:</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)" class="error">
        <small *ngIf="userForm.get('name')?.errors?.['required']">Имя обязательно</small>
        <small *ngIf="userForm.get('name')?.errors?.['minlength']">Имя не должно быть пустым</small>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)" class="error">
        <small *ngIf="userForm.get('email')?.errors?.['required']">Email обязателен</small>
        <small *ngIf="userForm.get('email')?.errors?.['email']">Некорректный email</small>
      </div>
    </div>

    <div>
      <label for="password">Пароль:</label>
      <input id="password" type="password" formControlName="password" autocomplete>
      <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)" class="error">
        <small *ngIf="userForm.get('password')?.errors?.['required']">Пароль обязателен</small>
        <small *ngIf="userForm.get('password')?.errors?.['minlength']">Минимум 6 символов</small>
      </div>
    </div>

    <button type="submit" [disabled]="userForm.invalid">
      {{ isLoginMode ? 'Войти' : 'Зарегистрироваться' }}
    </button>

    <div>
      <button type="button" (click)="toggleMode()">
        {{ isLoginMode ? 'Нет аккаунта? Зарегистрироваться' : 'Уже есть аккаунт? Войти' }}
      </button>
    </div>
  </div>
</form>
