<div class="product">
  <div class="product-action">
    <img src="{{ productsApiService.currentProduct?.image }}" width="350" height="350">
    <div class="product-block">
      <h1>{{ productsApiService.currentProduct?.name }}</h1>
      <div class="stock">
        <p>{{ productsApiService.currentProduct?.price }}$</p>
        <span [ngClass]="{'stock': productsApiService.currentProduct?.amount}">
          {{ productsApiService.currentProduct?.amount ? 'in stock' : 'out of stock' }}
        </span>
      </div>
      <p-inputgroup>
        <p-inputnumber
          [(ngModel)]="quantity"
          mode="decimal"
          [disabled]="!productsApiService.currentProduct?.amount"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
          [max]="productsApiService.currentProduct?.amount || 0"
        />
        <p-button
          class="add-cart"
          label="Add To Cart"
          (click)="AddToCart()"
          disabled="{{ !quantity }}"
        />
      </p-inputgroup>
      <p>Product quantities: {{ productsApiService.currentProduct?.amount }}</p>
    </div>
  </div>
  <div class="product-desc">
    <h2>About this product</h2>
    <p>{{ productsApiService.currentProduct?.description }}</p>
  </div>
</div>
